* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f8f8f8;
}

a {
  text-decoration: none;
  color: #ff6f91;
}

button {
  cursor: pointer;
}
